#navBar{
   font-family: fantasy;
}

.navbar-brand{
   font-size: 40px;
}

.container-fluid{
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center; 
   font-size: 20px;

}

.container-fluid img{
   height: 30px;
   width: 30px;
   font-size: 4dvh;
}

.carousel{
   padding-top: 70px;
}

.container-sobre {
   padding: 150px;  
}

.img-sobre img{
   width: 100%;
   height: auto;
   border-radius: 20px; 
}

.test-sobre{
   width: 100%;
   height: 100%;
   font-size: 30px;
   padding: 30px;
   font-family: fantasy;  
}

.trailer-MK{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.trailer-MK video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
.card {
   display: flex;
   justify-content: center; 
   align-items: center; 
   padding: 10px;
}

.card  a{
   width: 70%;
   width: 70%;
   
   
}

.foot-cont  {
   color: white;
   text-align: center;
   padding: 40px;

}

@media(max-width:990px){
   .container-sobre{
      flex-direction: column;
   }
}


   
   

  
   






